<html>

<head>
	<!--meta tags and semantic/css style refs-->
	<meta charset="utf-8">
	<title>ESSM - About</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
</head>

<body>
	<!--same div as home page. this is the main menu div-->
	<div>
		<a href="home">
			<img src="/static/essm_app/letters.svg" alt="logo image" width="75" height="45">
		</a>
		<div class="ui container">
			<div class="ui labeled icon small menu">
				<div class="item">
					<i class="home icon"></i>
					<a href="home">Home</a>
				</div>
				<div class="item">
					<i class="folder open icon"></i>
					<a href="archives">Archives</a>
				</div>
				<div class="active teal item">
					<i class="heart icon"></i>
					<a href="about">About</a>
				</div>
				<div class="item">
					<i class="usb icon"></i>
					<a href="links">Links</a>
				</div>
				<div class="item">
					<i class="mail icon"></i>
					<a href="contact">Contact</a>
				</div>
			</div>
		</div>
	</div>
	<p></p>
	<div class="ui container">
		<div class="ui items">
			<div class="item">
				<div class="image">
					<img src="/static/essm_app/image-placeholder.png">
				</div>
				<div class="content">
					<p></p>
					<p></p>
					<!--TODO: change css to add margin-->
					<a class="header">E-Sauce</a>
					<div class="meta">
						<span>Founded ESSM in 2017</span>
					</div>
					<div class="description">
						<p> E-Sauce is a dynamic and tasty sauce that you can add to any dish of your liking.</p>
						<p> Check out this piece from advice slip: </p>
						<p id='advice-section'></p>
					</div>
					<div class="extra">
						Github: https://github.com/g18-es
					</div>
				</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="/static/essm_app/image-placeholder.png">
				</div>
				<div class="content">
					<p></p>
					<p></p>
					<!--TODO: change css to add margin-->
					<a class="header">Gangsta Sarah</a>
					<div class="meta">
						<span>Founded ESSM in 2017</span>
					</div>
					<div class="description">
						<p>Gangsta Sarah can be used to smooth out wrinkles in your summer scarves.</p>
					</div>
					<div class="extra">
						Github: https://github.com/sma93
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src='/static/essm_app/js/advice-api.js'></script>
</body>

</html>
