<html>
{% extends "header.html" %}
{% block content %}

<body>
	<!-- Content -->
	{% include "menu.html" %}
	<!-- Main Page Content-->
	<div class="ui left aligned vertical pointing menu">
		<a class="item">
            Jan 2017
         </a>
		<a class="item">
            Feb 2017
         </a>
		<a class="item">
            Mar 2017
         </a>
	</div>
	<div class="ui center aligned container">
		<p>
			Uh oh, no archives here yet. Under construction...
		</p>
	</div>
</body>
{% endblock %}

</html>
