<html>

<head>
	<!--meta tags and semantic/css style refs-->
	<meta charset="utf-8">
	<title>ESSM - About</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
</head>

<body>
	<!--same div as home page. this is the main menu div-->
	<div>
		<a href="home">
			<img src="/static/essm_app/letters.svg" alt="logo image" width="75" height="45">
		</a>
		<div class="ui container">
			<div class="ui labeled icon small menu">
				<div class="item">
					<i class="home icon"></i>
					<a href="home">Home</a>
				</div>
				<div class="active teal item">
					<i class="folder open icon"></i>
					<a href="archives">Archives</a>
				</div>
				<div class="item">
					<i class="heart icon"></i>
					<a href="about">About</a>
				</div>
				<div class="item">
					<i class="usb icon"></i>
					<a href="links">Links</a>
				</div>
				<div class="item">
					<i class="mail icon"></i>
					<a href="contact">Contact</a>
				</div>
			</div>
		</div>
	</div>


	<div class="ui left aligned vertical pointing menu">
		<a class="item">
            Jan 2017
         </a>
		<a class="item">
            Feb 2017
         </a>
		<a class="item">
            Mar 2017
         </a>
	</div>

	<div class="ui center aligned container">
		<p>
			Uh oh, no archives here yet. Under construction...
		</p>
	</div>


</body>

</html>
