<html>
{% extends "header.html" %}
{% block unique %}
<script type="text/javascript" src="/static/essm_app/js/contact.js"></script>
<script type="text/javascript" src="/static/essm_app/js/comment.js"></script>
{% endblock %}
{% block content %}
<body>

	<!-- Content -->
	{% include "menu.html" %}
	<br>
	<br>
	<!-- Main Page Content-->
	<div class="ui container">
		<button class="ui button" , type="button" , id="test">
        Leave a comment
		</button>

		<div class="ui modal test">
			<i class="close icon"></i>
			<div class="header">
				Leave a message for us.
			</div>
			<div class="content">
				<div class="ui form">
					<h4 class="ui dividing header">Questions? Comments? Requests?</h4>
					<div class="field">
						<textarea></textarea>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="ui green button" id="my-button">Submit</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
</html>
