<head>
  <meta charset="utf-8">
  <title>ESSM - Home</title>
  <!-- Style -->
  <link rel="icon" type="image/png" href="/static/essm_app/favicon.ico" sizes="16x16" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
  <!-- Logo -->
  <div>
    <a href="home">
      <img src="/static/essm_app/letters.svg" alt="logo image" width="75" height="45">
    </a>
</head>
{% block unique %}{% endblock %}
{% block content %} Body content {% endblock %}
