<div class="ui container">
  <div class="ui labeled icon small menu">
    <div class="item">
      <i class="home icon"></i>
      <a href="home">Home</a>
    </div>
    <div class="item">
      <i class="folder open icon"></i>
      <a href="archives">Archives</a>
    </div>
    <div class="item">
      <i class="heart icon"></i>
      <a href="about">About</a>
    </div>
    <div class="item">
      <i class="usb icon"></i>
      <a href="links">Links</a>
    </div>
    <div class="active teal item">
      <i class="mail icon"></i>
      <a href="contact">Contact</a>
    </div>
  </div>
</div>
