<html>
{% extends "header.html" %}
{% block unique %}
<script type="text/javascript" src="/static/essm_app/js/post.js"></script>
{% endblock %}
{% block content %}

<body>

	<!-- Content -->
	{% include "menu.html" %}
	<!-- Main Page Content-->
	<div class="ui container">
		<div class="content">
			<div class="ui form">
				<h4 class="ui dividing header">
						<br>
						Hi there! What's on your mind? Write a post!
					</h4>
				<div class="field">
					<label>Title</label>
					<input type="text" id="post-title">
				</div>
				<div class="field">
					<textarea rows="15" cols="30" id="post-text"></textarea>
				</div>
				<div class="field">
					<div class="ui checkbox">
						<input type="checkbox" checked="checked" name="contact-me">
						<label>Make this post public.</label>
						<br>
					</div>
				</div>
			</div>
		</div>
		<div class="actions">
			<div class="ui green button">Save</div>
			<div class="ui green button" id="submit-button">Submit</div>
			<div class="ui button">Cancel</div>
		</div>
	</div>
</body>
{% endblock %}

</html>
